.App {
  text-align: center;
  background-color: #F0F0F0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  background-color: red;
}
.slides {
  position: relative;
 

}
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
}
.slick-prev {
  left: 5%;
}

.slick-next {
  right: 5%;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-active{
  color: rgb(59, 45, 45);
  outline: none;
}
.slick-current{
  color: black;
  font-weight: 600;
}
.slide-text-item{
  border-left: 1px solid #ccc;
}
.slick-slide, .slick-slide *{ outline: none !important; }
ul{
  text-decoration: none;
}
ul li {
  text-decoration: none;
  list-style: none;
}